.friendListWrapper {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.friendListWrapper > p {
    color: var(--text);
    align-content: center;
    text-transform: uppercase;
    font-size: var(--font-md);
    font-weight: bold;

}

.friendListSection {
    display: flex;
    flex-direction: column;
    padding-right: 0.2rem;
    gap: 2px;
}

.friendListWrapper::-webkit-scrollbar {
    border-radius: 100%;
    width: 7.5px;
}

.friendListWrapper::-webkit-scrollbar-track {
    background: var(--a-bg2);
}

.friendListWrapper::-webkit-scrollbar-thumb {
    background: var(--a-bg6);
    border-radius: 20rem;
}