/*********************
* ROOT 
**********************/
.AuthWrapper {
    background-color: #F9EFD4;
    background-color: var(--a-bg1);
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

/*********************
* LEFT SIDE OF LOGIN
* CARD TECHNICALS
**********************/
.cardWrapper {
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardScene {
    perspective: 1800px;
}

.cardSidesWrapper {
    display: flex;
    justify-content: center;
    transition: transform 0.5s 0.25s;
    transform-style: preserve-3d;

    aspect-ratio: 1081 / 1489;
}

.cardFlipped {
    transform: rotateY(-180deg);
}

.cardFrontWrapper ,
.cardBackWrapper {
    width: 100%;
    height: 100%;
    inset: 0;
    position: absolute;
    backface-visibility: hidden;
}

.cardFrontWrapper {
    transform: rotateY(180deg);
}

.cardSidesWrapper,
.cardImage {
    width: clamp(400px, 25vw, 500px);
}

.cardImage {
    z-index: -1;
    position: absolute;
}

/*********************
* LEFT SIDE OF LOGIN
* CARD DESIGN
**********************/

.cardContentWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 11%;
    gap: 0.5rem;
}

.CardLoginBox {
    margin-top: 0.25rem;
    display: flex;
}

.CardLoginBox label {
    margin-left: 0.25rem;
}

.CardLoginBox span {
    margin-left: auto;
    cursor: pointer;
    color: var(--cultivate-red);
}

.confirmButton {
    margin-top: auto;
    background-color: #1f1a0e;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
    border: 1px solid transparent;
    border-radius: 0.75rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    user-select: none;
}

.FlipCardWrapper {
    margin-top: 0.5rem;
    cursor: pointer;
    text-align: center;
}

.FlipCardHightlight {
    margin-left: 0.25rem;
    font-weight: bold;
    color: var(--cultivate-blue);
}

/*********************
* RIGHT SIDE OF LOGIN
**********************/
#containerImages {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1.5rem;
}

#gameTitle {
    width: 37vw;
}

#gameInfo {
    width: 27vw;
}

#gameCharacters {
    width: 55vw;
}