.main-layout {
    background-color: var(--a-bg2);
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(300px, auto);
}

.main-area {
    padding: clamp(0.75rem, 1vw, 1.25rem);
    display: flex;
    flex-direction: column;
    gap: clamp(0.75rem, 1vw, 1.25rem);
    height: 100vh;
}

.main-area > * {
    border-radius: var(--br);
}

/*********************
* CONTENT
**********************/

.page-content {
    overflow-y: auto;    
    background-color: white;
    flex: 1;
}