.currencyWrapper {
    position: relative;
    background-color: var(--a-bg1);
    border-radius: var(--br);
    border: var(--a-bg2) 2px solid;
    margin-left: auto;
    display: flex;
    align-items: center;
    height: fit-content;
    padding: clamp(0.55rem, 0.7vw, 0.8rem) clamp(0.7rem, 0.8vw, 1rem);
    padding-left: clamp(2.5rem, 2.8vw, 4.5rem);
}

.currencyWrapper span {
    color: var(--text);
    display: inline-block;
    font-size: var(--font-lg);
    transform: translateY(1px);
    font-weight: bold;
    padding-right: 0.25rem;
}

.currencyWrapper img {
    position: absolute;
    width: clamp(1.75rem, 2vw, 2.5rem);
    height: clamp(1.75rem, 2vw, 2.5rem);
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
}