.navbarWrapper {
    padding: clamp(0.75rem, 0.5vw, 0.75rem);
    background-color: var(--a-bg0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-logo {
    border-right: var(--a-bg4) 2.5px solid;
    padding-right: clamp(0.75rem, 1vw, 1rem);
    margin-right: clamp(0.75rem, 1vw, 1rem);
    max-width: 100%;
    height: clamp(2.5rem, 2.5vw, 3.5rem);
}

.nav-links {
    display: flex;
    gap: clamp(0.75rem, 1vw, 1rem);
    list-style: none;
    align-items: center;
}