.nav-item {
    color: var(--text);
    border: #00000000 1px solid;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: clamp(0.55rem, 0.8vw, 0.8rem) clamp(0.7rem, 0.8vw, 1rem);
    gap: clamp(0.35rem, 0.5vw, 0.5rem);
    border-radius: var(--br);
    font-size: var(--font-lg);
    transition: all 0.2s ease;
    font-weight: bold;
}

.nav-item:hover:not(.active) {
    color: var(--text);
    background-color: var(--a-bg1);
    transform: scale(1.05);
} 

.nav-item span {
    line-height: 1;
    text-decoration: none;
    letter-spacing: 0.05rem;
}

.nav-item svg {
    vertical-align: middle;
    /* font-size: var(--font-xl); */
    font-size: var(--font-lg);
}

.nav-item.active {
  color: white;
  transform: scale(1.05);
}

.variant-red {
  background-color: var(--cultivate-red);
}

.variant-yellow {
  background-color: var(--cultivate-yellow);
}

.variant-green {
  background-color: var(--cultivate-green);
}

.variant-blue {
  background-color: var(--cultivate-blue);
}