.friendMenu {
    display: flex;
    flex-direction: column;
    padding: clamp(0.2rem, 0.5vw, 0.6rem);
    padding-right: 0.1rem;
    flex: 1;
    min-height: 0;
}

.friendToolbar {
    color: var(--text);
    font-weight: bold;
    font-size: var(--font-lg);
    display: flex;
    justify-content: space-between;
    padding: 0.2rem;
}

.friendToolBarButtons {
    display: flex;
    font-size: var(--font-xl);
    gap: 7.5px;
}

.friendToolBarButtons button{
    all: unset;
    cursor: pointer;
}

.friendToolBarButtons button:hover {
    color: var(--a-bg3);
}