.profileWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--a-bg1);
    /* padding: clamp(); */
    padding: 0.2rem .8rem;
    flex-shrink: 0;
}

.profileInfoWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.15rem;
    min-width: 0;
}

.profileCardUsername {
    font-size: var(--font-xl);
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
}

.profileCardStatus {
    display: flex;
    font-size: var(--font-lg);
    gap: 3px;
    color: darkgreen;
}

.profileCardStatus span {
    line-height: 1;
    font-weight: bold;
}