.profileWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--a-bg1);
    padding: 1rem 0 1.3rem 0;
    flex-shrink: 0;
}

.profileInformation {
    display: flex;
    flex-direction: column;
    gap: 0.15rem;
    min-width: 0;
}

.profileInformation span {
    /* letter-spacing: 0.1rem; */
}

.profileCardUsername {
    font-size: 1.4rem;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
}

.profileCardStatus {
    display: flex;
    gap: 3px;
    color: darkgreen;
}

.profileCardStatus span {
    line-height: 1;
    font-weight: bold;
    font-size: 1.2rem;
}

@media (max-width: 1400px) {
    .profileCardUsername {
        font-size: 1.1rem;
    }

    .profileCardStatus {
        /* font-size: 1rem; */
    }
}